.register-container{
    width: 40%;
    height: 90vh;
    margin: auto;
    margin-top: 40px;
    border: 1px solid black;
    border-radius: 10px;
}
.register-container form{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.register-container h5{
     margin-top: 20px;
     text-align: center;
}